beautifulsoup4==4.5.1
Flask==0.11.1
flask-heroku==0.1.9
Flask-SQLAlchemy==2.1
fuzzywuzzy==0.16.0
gunicorn==19.6.0
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.6.2
py2app==0.7.3
pyasn1==0.2.3
requests==2.11.1
spotipy==2.3.8
SQLAlchemy==1.1.5
Unidecode==0.4.21
