<html>
  <head>
    <title>Throwback</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='game.css')}}"
  </head>
  <body>

  <div id="mainbody">
    <div id="header">
      <h1>FUNKY TIME</h1>
      <img src='http://cultofthepartyparrot.com/parrots/fiestaparrot.gif'/>
    </div>

    <div id="maincontent">
      <div id="warningsection">
        <p>WARNING: Music ahead! Turn your volume down.</p>
      </div>
      <div id="menu">
        Select Game Type:
    
        <button id="menuArtistButton">Artist</button>
        <button id="menuSongButton">Song</button>
        <button id="menuYearButton">Year</button> 

      </div>

      <div id="gamescreen">

        <div id="scoresection">
          <p>Score: </p>
          <p id="score">0</p>
        </div>

        <div id="userinput">
        </div>

        <div id="song">
          <audio id="songElement" />
        </div>


        <p id="result"></p>

      </div>
    </div> <!-- gamescreen -->
  </div> <!-- mainbody -->


  <script type="text/javascript" src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>

  <script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script type="text/javascript" src="{{url_for('static', filename='game.js')}}"></script>

  </body>
</html>
