<html>
  <head>

    <title>FUNKYTIME</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='game.css')}}" />
  </head>
  <body>

  <div id="main-body">
    <div id="header">
      <h1>FUNKY TIME</h1>
      <img src='http://cultofthepartyparrot.com/parrots/fiestaparrot.gif'/>
    </div>

    <div id="main-content">
      <div id="warning-section">
        <p>WARNING: Music ahead! Turn your volume down to 20%.</p>
      </div>
      <div id="menu">
        Select Game Type:
    
        <button id="menu-artist-button">Artist</button>
        <!--<button id="menu-song-button">Song</button>-->
        <button id="menu-year-button">Year</button> 

      </div>

      <div id="game-screen">

        <div id="score-section">
          <div id="score-text">Score: </div>
          <div id="score">0</div>
        </div>

        <div id="answer-section">
        </div>

        <div id="song">
          <audio id="song-element" />
        </div>


        <div id="result" />

      </div>
    </div> <!-- game-screen -->
    <div class="footer">
      Created by <a href="http://www.ericsuhelin.com">Eric Lin</a>.
    </div>
  </div> <!-- main-body -->


  <script type="text/javascript" src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>

  <script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <script type="text/javascript" src="{{url_for('static', filename='game.js')}}"></script>

  </body>

</html>
